@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Pacifico&display=swap');

body {
    background-color: #eee;
    text-align: center;
    padding: 100 16px;
    margin-top: 9rem;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Pacifico', cursive;

}

h1 {
    font-size: 3rem;
}

button {
    background-color: cornflowerblue;
    width: 5rem;
    border-color: rgb(0, 162, 255);
}

input {
    width: 20rem;
    height: 3rem;
}

ul {
    list-style-type: none;

}

ul>li {
    display: inline;
    padding: 0.7rem;
    font-size: 2rem;
    cursor: pointer;
}